<!-- para alteração de projetos-->

<div class="row align-items-center no-gutters">
  <div class="col">
    <h1 class="titulo mb-0">{{(modoEdicao() ? 'Editar' : 'Criar')}} Projeto {{projeto.codigoProjeto}}</h1>
  </div>
  <hr class="mt-2">
</div>
<div class="row mt-2" *ngIf="id > 0">
  <div class="col-md-4">
    <!--<div class="card card-colaborador cursor-pointer click" (click)="vaiParaSolicitacaoMudanca()" routerLinkActive="active"
      role="button">
      <div class="card-body">
        Solicitação de Mudança <span class="badge everis">{{ totalSolicitacaoMudancas }}</span>
      </div>
    </div>-->
    <div class="card card-colaborador">
      <div class="card-body bg-light">
        Solicitação de Mudança
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-colaborador cursor-pointer click" (click)="vaiParaFase()" routerLinkActive="active" role="button">
      <div class="card-body">
        Fase <span class="badge everis">{{ totalFases }}</span>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-colaborador">
      <div class="card-body">
        Status <div class="badge everis">Em Andamento</div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12">
    <tabset #alterarTabs class="mb-3">
      <tab>
        <ng-template tabHeading>
          <span>Dados Principais</span>
        </ng-template>
        <app-dados-principais (getProjeto)="selectTab($event)"></app-dados-principais>
      </tab>

      <tab>
        <ng-template tabHeading>
          <span>Atribuição de Equipe</span>
        </ng-template>
        <app-atribuicao-equipe (getProjeto)="selectTab($event)"></app-atribuicao-equipe>
      </tab>
      <!-- NÃO SERÁ IMPLEMENTADO NESSE MOMENTO
      <tab>
        <ng-template tabHeading>
          <span class="fonte-cancelar">Anexos</span>
        </ng-template>
        <app-anexos></app-anexos>
      </tab>
      -->
    </tabset>
  </div>
</div>