<!-- para alteração de projetos-->
<div class="row align-items-center">
    <div class="col">
      <h1 class="titulo mb-0">Novo Projeto</h1>
    </div>
    <nav class="col d-flex justify-content-end">
      <button type="button" class="btn everis mr-2" (click)="Adicionar()">Salvar</button>
      <button type="button" class="btn cancelar" (click)="cancelar()">Cancelar</button>
    </nav>
    <hr class="mt-2" />
  </div>
<div class="row mt-2">
  <div class="col-md-4">
    
    <div class="card card-colaborador" [routerLink]="['changes']" routerLinkActive="active" role="button">
        <div class="card-body">
          Changes <span class="badge everis">3</span>
        </div>
      </div>
    </div>


    <div class="col-md-4">
        <div class="card card-colaborador" [routerLink]="['esforco-projeto']" routerLinkActive="active" role="button">
            <div class="card-body">
           Esforço  X Projeto <span class="badge everis">456</span>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card card-colaborador" [routerLink]="['esforco-projeto']" routerLinkActive="active" >
                <div class="card-body">
                  Status : <div class="badge everis"> Em Andamento</div>
                </div>
              </div>
            </div>


</div>

<hr class="mt-4">
<div class="row mt-2">
  <div class="col-12">

    <tabset>
      <tab id="tab1" >
                  <ng-template tabHeading>
               <span class="fonte-everis">Dados Principais</span>
            </ng-template>
        <app-dados-principais></app-dados-principais></tab>
      <tab >
          <ng-template tabHeading>
              <span class="fonte-cancelar">Atribuição de Equipe</span>
           </ng-template>
        
        <app-atribuicao-equipe></app-atribuicao-equipe></tab>
      <tab>
          <ng-template tabHeading>
              <span class="fonte-cancelar">Anexos</span>
           </ng-template>
        
        <app-anexos></app-anexos></tab>
    </tabset>
  </div> 
</div>

