<div class="container">
  <div class="row align-items-center">
    <div class="col-3">
      <h1 class="titulo mb-0">Projetos</h1>
    </div>
    <nav class="col-3 d-flex justify-content-end  offset-5">
      <button type="button" class="btn everis mr-2">Novo Projeto +</button>
    </nav>
    <hr class="mt-2" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Projeto</th>
        <th scope="col">Andamento</th>
        <th scope="col">Equipes</th>
        <th scope="col">Status</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let projeto of projetos">
        <th scope="row">
          <span class="badge badge-notificacao">
            2
          </span>
        </th>
        <td>
          <p style="font-weight: bold">
            {{ projeto.nome }}
          </p>
        </td>
        <td>
          <div>
            <div class="col-md-12">
              <!--.Barra de progresso-->
              <div class="progress">
                <div class="progress-bar w-75 barraProgresso" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
              <p class="caption">
                Estimativa de conclusão: {{ projeto.dataEntrega | dateFormat }}
              </p>
            </div>
          </div>
        </td>
        <td *ngFor="let projetoPessoa of projeto.projetosPessoas">
          <div class="row" *ngFor="let pessoa of pessoas" [ngStyle]="{'display': 'inline'}">
            <div class="chip" *ngIf="pessoa.id === projetoPessoa.pessoaId">
              <img [src]="pessoa.fotoPath" alt="Foto do colaborador">
              <span class="nomePessoa">{{ pessoa.nome }}</span>
            </div>
            <div class="chip" *ngIf="pessoas.lenght > 3">
              <i class="fas fa-plus-circle fa-lg"></i>
              <!-- Implementar acao para mostrar lista de pessoas no projeto, qdo clicar no botao + -->
            </div>
          </div>
        </td>
        <td>
          <div>
            <span class="badge badge-status-ativo">{{ statusProjeto === 0 ? 'Inativo' : 'Ativo'}}</span>
          </div>
          <p class="caption">
            Inicio: {{ projeto.dataEntrega | dateFormat }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>