<div class="row align-items-center">
  <div class="col-3">
    <h1 class="titulo mb-0">Projeto</h1>
  </div>
  <div class="input-group col">
    <input type="text" class="form-control no-shadow" placeholder="Buscar por código de projeto" aria-label="Digite o que você deseja buscar"
      [(ngModel)]="codigoProjeto" (keydown.enter)="mostrarProjetosFiltrados(codigoProjeto)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="mostrarProjetosFiltrados(codigoProjeto)"><i
          class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <button type="button" class="btn everis" [routerLink]="['novo-projeto']">Novo Projeto +</button>
  </div>
</div>


<div class="row border no-gutters mt-4 mb-4 p-4">
  <div class="col-md-3 col-lg-2">
    <small><b>Status do projeto:</b></small>
  </div>
  <div class="col-md-9 col-lg-10">
    <div *ngFor="let st of status" class="custom-control custom-checkbox custom-control-inline">
      <input class="custom-control-input" value="{{st.id}}" id="{{st.id}}" type="checkbox" checked (change)="mudarStatus(st.id)">
      <label class="custom-control-label" for="{{st.id}}">
        <small>{{ st.descricao }}</small>
      </label>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <hr class="mt-2 mb-2 col-12" />
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-2"><strong>Projeto</strong></div>
  <div class="col-lg-3"><strong>Andamento</strong></div>
  <div class="col-lg-4"><strong>Equipes</strong></div>
  <div class="col-lg-2"><strong>Status</strong></div>
  <hr class="mt-2 col-12">
</div>

<div class="text-black-50 text-center" *ngIf="exibeMsg">
  Não foi encontrado nenhum projeto que contenha o código <strong>"{{ codigoProjeto }}"</strong>.
  Por favor, realize uma nova busca.
</div>

<div *ngFor="let projeto of projetosFiltrados" class="cursor-pointer">
  <div class="row no-gutters" (click)="detalheProjeto(projeto)" *ngIf="mostrarStatus(projeto.status.id)">
    <!--Badge de notificações-->
    <div class="col-lg-1">
      <span class="badge everis-roxo everis-branco">
        2</span>
    </div>

    <!-- Código e nome do projeto -->
    <div class="col-lg-2">
      <p class="m-0"><strong>{{ projeto.codigoProjeto}}</strong></p>
      <p class="m-0"><small>{{ projeto.nome }}</small></p>
    </div>


    <!--.Barra de progresso-->
    <div class="col-lg-3">
      <div class="row">
        <div class="col-11">
          <div class="progress">
            <div class="progress-bar everis"></div>
          </div>
          <small>Estimativa de conclusão: {{ projeto.dataPrevista | dateFormat }}</small>
        </div>
      </div>
    </div>


    <!--.Pessoas da equipe-->
    <div class="col-lg-4">
      <div *ngFor="let projetoPessoa of projeto.projetosPessoas">
        <div class="row" *ngFor="let pessoa of pessoas" [ngStyle]="{'display': 'inline'}">
          <div class="chip" *ngIf="pessoa.id === projetoPessoa.pessoaId">
            <img [src]="pessoa.fotoPath" alt="Foto do colaborador">
            <span class="nomePessoa">{{ pessoa.nome }}</span>
          </div>
          <div class="chip" *ngIf="pessoas.lenght > 3">
            <i class="fas fa-plus-circle fa-lg"></i>
            <!-- Implementar acao para mostrar lista de pessoas no projeto, qdo clicar no botao + -->
          </div>
        </div>
      </div>
    </div>

    <!--.Status-->
    <div class="col-lg-2">
      <span class="badge p-1" [ngClass]="{'everis-amarelo': projeto.status.descricao == 'Aguardando aprovação', 
                                          'everis': projeto.status.descricao == 'Em desenvolvimento',
                                          'everis-roxo': projeto.status.descricao == 'Concluído',
                                          'everis-azul': projeto.status.descricao == 'Entregue',
                                          'everis-laranja': projeto.status.descricao == 'Aguardando abertura',
                                          'bg-danger text-white': projeto.status.descricao == 'Cancelado',
                                          'bg-gray': projeto.status.descricao == 'Proposta'}">{{
        projeto.status.descricao }}</span>
      <small>
        <p>Inicio: {{ projeto.dataInicio | dateFormat }}</p>
      </small>
    </div>
    <hr class="mt-2 col-12">
  </div>
</div>
<div class="row mt-4 no-gutters">
  <div class="col-12 text-right">
    <b>Total de Projetos: {{ totalProjetos }}</b>
  </div>
</div>