<div class="row align-items-center">
  <div class="col-3">
    <h1 class="titulo mb-0">Projeto</h1>
  </div>
  <div class="input-group col">
    <input type="text" class="form-control no-shadow" placeholder="Buscar por código de projeto" aria-label="Digite o que você deseja buscar"
      [(ngModel)]="filtroProjeto.codigoProjeto" (keydown.enter)="filtrar()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <nav class="col-3 d-flex justify-content-end">
    <button type="button" class="btn everis mr-2" [routerLink]="['novo-projeto']">Novo Projeto +</button>
  </nav>
</div>

<div class="border col-12 mt-3 mb-4">
  <div class="custom-control-inline col-2 mt-2">
  <small><b>Status do projeto:</b></small>
  </div>
  <div *ngFor="let st of status"  class="custom-control custom-checkbox custom-control-inline col-2 mt-2">
    <input  value="{{st.id}}" id="statusId" type="checkbox" checked (change)="mudarStatus(st.id)">
    <small>{{st.descricao}}</small>
  </div>
</div>

<div class="row">
  <hr class="mt-2 col-11" />
  <div class="col-md-1 col-xs-1">&nbsp;</div>
  <div class="col-md-2 ml-2 col-xs-2 "><strong>Projeto</strong></div>
  <div class="col-md-2 col-xs-2"><strong>Andamento</strong></div>
  <div class="col-md-2 col-xs-2 "><strong>Equipes</strong></div>
  <div class="col-md-2 col-xs-2 "><strong>Código do projeto</strong></div>
  <div class="col-md-2 col-xs-2 "><strong>Status</strong></div>
  <hr class="mt-2 col-11">
</div>

<div *ngFor="let projeto of projetos" class="cursor-pointer">
  <div class="row" (click)="detalheProjeto(projeto)" *ngIf="!mostrarStatus(projeto.status.id)">
    <!--Badge de notificações-->
    <div class="col-md-1 col-xs-12">
      <span class="badge everis-roxo everis-branco">
        2</span>
    </div>

    <!--.Nome do Projeto-->
    <div class="col-md-2 col-xs-12">
      <p>{{ projeto.nome}}<p>
    </div>


    <!--.Barra de progresso-->
    <div class="col-md-2 col-xs-12">
      <div class="row">
        <div class="progress">
          <div class="progress-bar everis" style="width:20%"></div>
        </div>
        <small>Estimativa de conclusão: {{ projeto.dataPrevista | dateFormat }}</small>
      </div>
    </div>


    <!--.Pessoas da equipe-->
    <div class="col-md-2 col-xs-12">
      <div *ngFor="let projetoPessoa of projeto.projetosPessoas">
        <div class="row" *ngFor="let pessoa of pessoas" [ngStyle]="{'display': 'inline'}">
          <div class="chip" *ngIf="pessoa.id === projetoPessoa.pessoaId">
            <img [src]="pessoa.fotoPath" alt="Foto do colaborador">
            <span class="nomePessoa">{{ pessoa.nome }}</span>
          </div>
          <div class="chip" *ngIf="pessoas.lenght > 3">
            <i class="fas fa-plus-circle fa-lg"></i>
            <!-- Implementar acao para mostrar lista de pessoas no projeto, qdo clicar no botao + -->
          </div>
        </div>
      </div>
    </div>

    <!-- Código do projeto -->
    <div class="col-md-2 col-xs-12">
      <p class="text-center">{{ projeto.codigoProjeto}}<p>
    </div>

    <!--.Status-->
    <div class="col-md-2 col-xs-12">
      <span class="badge everis p-2">{{ projeto.status.descricao }}</span>
      <small>
        <p>Inicio: {{ projeto.dataInicio | dateFormat }}</p>
      </small>
    </div>
    <hr _ngcontent-c2="" class="mt-2 col-11">
  </div>
</div>
<div class="row">
  <div class="col">
    <b>Total de Projetos</b>
  </div>
  <div class="col-3">
    <b>{{contar(projetos)}}</b>
  </div>
</div>