################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

code/.vs/slnx.sqlite
code/.vs/slnx.sqlite-journal
code/.vs/VSWorkspaceState.json
code/.vs/code/v15/**
