.banner-horas-impacto {background: #eee;}
h2 {font-size: 18px; color: #666; font-family: Arial, Helvetica, sans-serif}
.result-total-servico {font-size: 24px; font-weight: bold}
.box-servico {width: 155px; height: 150px; background: #fff; color: #9AAE04}