
<div class="row">
  <div class="col">
    <h1 class="titulo mb-0">Modelo de desenvolvimento</h1>
  </div> 
    <hr class="mt-2 mb-5" />
</div>

<mat-accordion>

  <!--Logo-->
  <mat-expansion-panel class="mb-1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Logo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col"><img src="../../../assets/logo.png" alt="Simple Process" class="img-fluid"></div>
      <div class="col text-center"><img src="../../../assets/logo_90.png" alt="Simple Process" class="img-fluid"></div>
      <div class="col text-center"><img src="../../../assets/logo_32.png" alt="Simple Process" class="img-fluid"></div>
    </div>    
  </mat-expansion-panel>

  <!--Título simples-->
  <mat-expansion-panel class="mb-1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Título simples
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row no-gutters">
      <div class="col">
        <h1 class="titulo">Lorem ipsum dolor sit amet</h1>
      </div> 
      <hr class="mt-0" />
    </div>
  </mat-expansion-panel>

  <!--Título com ações de página-->
  <mat-expansion-panel class="mb-1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Título com ações de página
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row align-items-center flex-wrap no-gutters">
      <div class="col">
        <h1 class="titulo mb-0">Lorem ipsum dolor sit amet</h1>
      </div> 
      <div class="col d-flex justify-content-end no-gutters">
        <button type="button" class="btn everis mr-2">Salvar</button>
        <button type="button" class="btn cancelar">Cancelar</button>
      </div> 
      <hr class="mt-2" />
    </div>
  </mat-expansion-panel>

  <!--Ações no final da página-->
  <mat-expansion-panel class="mb-1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ações no final da página
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row align-items-center no-gutters">
      <hr class="mb-2" />
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn everis mr-2">Salvar</button>
        <button type="button" class="btn cancelar">Cancelar</button>
      </div> 
    </div>
  </mat-expansion-panel>

  <!--Ação de voltar no fim da página-->
  <mat-expansion-panel class="mb-1">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ação de voltar no fim da página
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row align-items-center no-gutters">
        <hr class="mb-2" />
        <div class="col d-flex justify-content-center">
          <button type="button" class="btn cancelar">Voltar</button>
        </div> 
      </div>
    </mat-expansion-panel>

  <!--Título com pesquisa e ações-->
  <mat-expansion-panel class="mb-1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Título com pesquisa e ações
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row align-items-center no-gutters">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <h1 class="titulo pl-0 mb-0">Lorem ipsum dolor</h1>
      </div> 
      <div class="input-group col-md-12 col-lg-6 col-xl-5 mb-2">
        <input type="text" class="form-control" placeholder="Digite o que você deseja buscar" aria-label="Digite o que você deseja buscar">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>   
      <div class="col-md-12 col-lg-12 col-xl-3 d-flex justify-content-end mb-2">
        <button type="button" class="btn everis mr-2">Salvar</button>
        <button type="button" class="btn cancelar">Cancelar</button>
      </div> 
      <hr class="mt-0" />
    </div>
  </mat-expansion-panel>

  <!--Input-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Input
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Label</label>
      <input type="text" class="form-control" id="input1" placeholder="text">
    </div>
  </mat-expansion-panel>

  <!--Input desabilitado-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Input desabilitado
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Label</label>
      <input type="text" class="form-control" id="input1" placeholder="text" disabled>
    </div>
  </mat-expansion-panel>

  <!--Textarea-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Textarea
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Label</label>
      <textarea name="text" id="text" cols="30" rows="10" class="form-control"></textarea>
    </div>
  </mat-expansion-panel>
  
  <!--Textarea desabilitado-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Textarea desabilitado
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Label</label>
      <textarea name="text" id="text" cols="30" rows="10" class="form-control" disabled></textarea>
    </div>
  </mat-expansion-panel>

  <!--Combo-->
  <mat-expansion-panel class="mb-1">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Combo
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Label</label>
      <select id="select1" class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </mat-expansion-panel>

  <!--Combo desabilitado-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Combo desabilitado
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Label</label>
      <select id="select1" class="custom-select" disabled>
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </mat-expansion-panel>

  <!--Checkbox-->
  <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Checkbox
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-group">
        <label for="label">Vertical</label>
        <div class="custom-control custom-checkbox">
          <input id="meucheckbox1" name="meucheckbox" type="checkbox" class="custom-control-input">
          <label class="custom-control-label" for="meucheckbox1">Meu checkbox 1</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input id="meucheckbox2" name="meucheckbox" type="checkbox" class="custom-control-input" disabled>
          <label class="custom-control-label" for="meucheckbox2">Meu checkbox 2</label>
        </div>
      </div>
      <div class="form-group">
        <label for="label" class="mr-1">Horizontal: </label>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input id="meucheckbox3" name="meucheckbox" type="checkbox" class="custom-control-input">
          <label class="custom-control-label" for="meucheckbox3">Meu checkbox 3</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input id="meucheckbox4" name="meucheckbox" type="checkbox" class="custom-control-input" disabled>
          <label class="custom-control-label" for="meucheckbox4">Meu checkbox 4</label>
        </div>
      </div>
  </mat-expansion-panel>

  <!--Radiobutton-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Radiobutton
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="form-group">
      <label for="label">Vertical</label>
      <div class="custom-control custom-radio">
        <input id="meuradio1" name="meuradio" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="meuradio1">Meu radiobutton 1</label>
      </div>
      <div class="custom-control custom-radio">
        <input id="meuradio2" name="meuradio" type="radio" class="custom-control-input" disabled>
        <label class="custom-control-label" for="meuradio2">Meu radiobutton 2</label>
      </div>
    </div>
    <div class="form-group">
      <label for="label" class="mr-1">Horizontal: </label>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="meuradio3" name="meuradio" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="meuradio3">Meu radiobutton 3</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="meuradio4" name="meuradio" type="radio" class="custom-control-input" disabled>
        <label class="custom-control-label" for="meuradio4">Meu radiobutton 4</label>
      </div>
    </div>
  </mat-expansion-panel>

  <!--Tabs-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Tabs
      </mat-panel-title>
    </mat-expansion-panel-header>
    <tabset>
      <tab heading="Basic title" class="p-4">Basic content</tab>
      <tab heading="Basic Title 1" class="p-4">Basic content 1</tab>
      <tab heading="Basic Title 2" class="p-4">Basic content 2</tab>
    </tabset>
  </mat-expansion-panel>

  <!--Badge-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Badge
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row no-gutters">
      <div class="col">
        <span class="badge execucao p-1">Em execução</span>
        <span class="badge everis p-1">Concluído</span>
        <span class="badge badge-danger p-1">Cancelado</span>
        <span class="badge badge-light p-1">Congelado</span>
        <span class="badge everis-laranja text-white p-1">Pendente</span>
        <span class="badge everis-azul text-white p-1">Controle de Qualidade</span>
      </div>
    </div>    
  </mat-expansion-panel>

  <!--Data e Hora-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Data e Hora
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="form-group col-md-4 col-lg-3">
        <label for="data">Data</label>
        <input type="text" class="form-control" id="data" bsDatepicker>
      </div>
      <div class="form-group col-md-3 col-lg-2">
        <label for="hora">Hora</label>
        <input type="time" class="form-control" id="hora">
      </div>
    </div>
  </mat-expansion-panel>

  <!--Data-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Data
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="form-group col-md-4 col-lg-3">
        <label for="data">Data</label>
        <input type="text" class="form-control" id="data" bsDatepicker>
      </div>
    </div>
  </mat-expansion-panel>

  <!--Slide Toggle-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Slide Toogle
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="form-group col-3">
        <mat-slide-toggle>Label</mat-slide-toggle>
      </div>
    </div>
  </mat-expansion-panel>

  <!--Progressbar-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Progressbar
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col mb-2">
        <progressbar [animate]="true" [value]="40" type="success"></progressbar>
        <small>Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet</small>
      </div>
    </div>
  </mat-expansion-panel>

  <!--Alertas-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Alertas
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col">
        <div class="alert alert-primary" role="alert">
          <i class="fa fa-info-circle mr-1"></i> Esta é minha mensagem informativa primária de retorno ao usuário com um <a href="#" class="alert-link">link</a>.
        </div>
        <div class="alert alert-secondary" role="alert">
          <i class="fa fa-info mr-2"></i>Esta é minha mensagem informativa secundária de retorno ao usuário com um <a href="#" class="alert-link">link</a>.
        </div>
        <div class="alert alert-success" role="alert">
          <i class="fa fa-check mr-1"></i> Esta é minha mensagem de sucesso ao usuário com um <a href="#" class="alert-link">link</a>.
        </div>
        <div class="alert alert-danger" role="alert">
          <i class="fa fa-times mr-2"></i>Esta é minha mensagem de erro impeditivo com um <a href="#" class="alert-link">link</a>.
        </div>
        <div class="alert alert-warning" role="alert">
          <i class="fa fa-exclamation-triangle mr-1"></i> Esta é minha mensagem de alerta ao usuário com um <a href="#" class="alert-link">link</a>.
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <!--Foto-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Foto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col">
        <img src="../../../assets/exemplo-foto.jpg" class="rounded-circle"  title="" alt="" width="64" height="64" />
      </div>
    </div>
  </mat-expansion-panel>

  <!--Expasion painel-->
  <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
            Expasion painel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-accordion>
        <mat-expansion-panel class="mb-2">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Collapse 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Conteúdo 1</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Collapse 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Conteúdo 2</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

  <!--Dialog-->
  <mat-expansion-panel class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
          Dialog
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button class="btn everis mr-2" data-toggle="modal" data-target="#modeloModal">Abrir modal</button>
    <div class="modal fade" id="modeloModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Título da modal</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Clique em "Sair" abaixo se deseja encerrar a sessão atual.</div>
            <div class="modal-footer">
              <button class="btn cancelar" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn everis" type="button" data-dismiss="modal">Sair</button>
            </div>
          </div>
        </div>
      </div>
  </mat-expansion-panel>

  <!--CardPessoa-->
  <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
            CardPessoa
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-md-4 p-0">
          <div class="card card-colaborador border-everis">
            <div class="row">
              <div class="card-body">
                <div class="col-md-12 m-0 p-1">
                  <div class="col-md-12 text-right m-0 p-0">
                    <span class="badge everis text-right">Disponível</span>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <img class="card-img-top rounded-circle" src="../../../assets/exemplo-foto.jpg" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                      <p class="m-0">Ricardo Yamamura</p>
                      <p class="m-0"><small>Desenvolvedor</small></p>
                    </div>
                  </div>
                  <div class="col-md-12 text-right"><sub> Projeto Itau PJ - Team Leader</sub></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </mat-expansion-panel>

</mat-accordion>
          

          

