<div class="row">
    <div class="col-md-12">
        <h1 class="titulo">Dashboard</h1>
    </div>
    <hr class="mt-0" />
</div>
<div class="row">
    <div class="col-md-4 ">
        <div class="card card-colaborador mb-2">

            <div class="card-body ">
                    <span class="display-4">2</span>
            
                    <p><small><strong> Id's Abertos</strong></small></p>
              
            </div>
        </div>
    </div>

        <div class="col-md-4 ">
        <div class="card card-colaborador mb-2">

            <div class="card-body">
                <span class="display-4">4</span>
            
                <p><small> <strong>Id's a fechar</strong></small></p>
                
            </div>
        </div>
    </div>

    <div class="col-md-4 ">
        <div class="card card-colaborador mb-2">

            <div class="card-body ">
                    <span class="display-4">250</span>
            
                    <p><small> <strong> Horas Lançadas</strong></small></p>
                    
                </div>
            </div>
        </div>
           
           



</div>
<div class="card mb-2">

        <div class="card-body ">
<app-graficopizza></app-graficopizza>
</div></div>
<div class="card mb-2">

        <div class="card-body ">

<app-graficolinha></app-graficolinha>

</div></div>