<div class="row">
  <div *ngIf="msgSucesso != null && msgSucesso != undefined" class="col-12">
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check mr-1"></i> {{msgSucesso}}
    </div>
  </div>
</div>

<div class="row">
  <div *ngIf="msgErro != null && msgErro != undefined" class="col-12">
    <div class="alert alert-danger" role="alert">
      <i class="fa fa-check mr-1"></i> {{msgErro}}
    </div>
  </div>
</div>

<div class="row align-items-center no-gutters">
  <div class="col-3">
    <h1 class="titulo mb-0">Pessoas</h1>
  </div>
  <div class="input-group col">
    <input type="text" class="form-control no-shadow" maxlength="100" placeholder="Digite o que você deseja buscar"
      aria-label="Digite o que você deseja buscar" [(ngModel)]="pessoaModel.nome" (keydown.enter)="filtrar()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <button type="button" class="btn everis mr-0" [routerLink]="['cadastro-pessoas']">Nova Pessoa +</button>
  </div>
  <hr class="mt-2">
</div>

<!-- checkbox Filter de status de pessoa -->
<div class="row no-gutters  mt-3 mb-4 p-3">
  <!-- <div class="col-md-3 col-lg-2">
    <small><b>Status do Colaborador:</b></small>
  </div> -->
  <!-- <div class="custom-control custom-checkbox custom-control-inline">
    <input id="{{statusSelecionados[0].id}}" value="{{statusSelecionados[0].id}}" type="checkbox" class="custom-control-input"
      (change)="mudarStatus(statusSelecionados[0].id)" checked>
    <label class="custom-control-label" for="{{statusSelecionados[0].id}}"><small>Disponível</small></label>
  </div>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input id="{{statusSelecionados[1].id}}" value="{{statusSelecionados[1].id}}" type="checkbox" class="custom-control-input"
      (change)="mudarStatus(statusSelecionados[1].id)" checked>
    <label class="custom-control-label" for="{{statusSelecionados[1].id}}"><small>indisponível</small></label>
  </div> -->
</div>
<div class="row">

  <div *ngFor="let item of listaPessoaColaborador" class="col-md-4 mb-2">
    <div class="card card-colaborador border-everis cursor-pointer">
      <div class="row" (click)="editar(item.pessoa.id)">
        <div class="card-body">
          <div class="col-md-12 m-0 p-0">
            <div *ngIf="item.colaborador" class="col-md-12 text-right">
              <span *ngIf="item.colaborador.disponivel" class="badge everis text-right">Disponível</span>
              <span *ngIf="!item.colaborador.disponivel" class="badge bg-dark text-white text-right">Indisponível</span>
            </div>
            <div *ngIf="!item.colaborador" class="col-md-12 text-right">
              <span class="badge bg-dark text-white text-right">{{item.pessoa.tipo.descricao}}-{{item.pessoa.empresa.nome}}</span>
            </div>
            <div class="row">
              <div class="col-md-3 d-flex align-items-center justify-content-center">
                <!--<img class="card-img-top" src="../assets/semPerfil.png" alt="Card image cap">-->
                <div class="icon-user rounded-circle text-center">
                  {{item.pessoa.nome | slice:0:1}}</div>
              </div>
              <div class="col-md-8 m-0 p-0">
                <p class="m-0">{{item.pessoa.nome}}</p>
                <p class="m-0">
                  <small>
                    {{item.colaborador ? item.colaborador.emailCorporativo : item.pessoa.email}}
                  </small>
                </p>
              </div>
            </div>
            <div class="col-md-12 text-right"><sub>Projeto Itau PJ - Team Leader</sub></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>