
  <div class="row align-items-center">
    <div class="col-3">
        <h1 class="titulo mb-0">Pessoas</h1>
    </div> 
    <div class="input-group col">
      <input type="text" class="form-control" placeholder="Digite o que você deseja buscar" aria-label="Digite o que você deseja buscar">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
      </div>
    </div>
    <nav class="col-3 d-flex justify-content-end">
      <button type="button" class="btn everis mr-2" [routerLink]="['cadastro-pessoas']" >Nova Pessoa +</button>
     
    </nav> 
    <hr class="mt-2" />
</div>
<div class="row">

  <div *ngFor="let pessoa of pessoas" class="col-md-4">
    <div class="card card-colaborador border-everis">
      <div class="row">
        <div class="card-body">
          <div class="col-md-12 m-0 p-0">
            <div class="col-md-12 text-right">
              <span class="badge everis text-right">Disponível</span>
            </div>
            <div class="row">
              <div class="col-md-3">
                <img class="card-img-top" src="../assets/u87.png" alt="Card image cap">
              </div>
              <div class="col-md-8 m-0 p-0">
                <p class="m-0">{{pessoa.Nome}}</p>
                <p class="m-0"><small>Desenvolvedor</small></p>
              </div>


            </div>

            <div class="col-md-12 text-right"><sub>Projeto Itau PJ - Team Leader</sub></div>


          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-colaborador border-everis">
      <div class="row">
        <div class="card-body">
          <div class="col-md-12 m-0 p-0">
            <div class="col-md-12 text-right">
              <span class="badge everis text-right">Disponível</span>
            </div>
            <div class="row">
              <div class="col-md-3">
                <img class="card-img-top" src="../assets/u87.png" alt="Card image cap">
              </div>
              <div class="col-md-8 m-0 p-0">
                <p class="m-0">Ricardo Yamamura</p>
                <p class="m-0"><small>Desenvolvedor</small></p>
              </div>


            </div>

            <div class="col-md-12 text-right"><sub>Projeto Itau PJ - Team Leader</sub></div>


          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-colaborador border-everis">
      <div class="row">
        <div class="card-body">
          <div class="col-md-12 m-0 p-0">
            <div class="col-md-12 text-right">
              <span class="badge everis text-right">Disponível</span>
            </div>
            <div class="row">
              <div class="col-md-3">
                <img class="card-img-top" src="../assets/u87.png" alt="Card image cap">
              </div>
              <div class="col-md-8 m-0 p-0">
                <p class="m-0">Ricardo Yamamura</p>
                <p class="m-0"><small>Desenvolvedor</small></p>
              </div>
            </div>
            <div class="col-md-12 text-right"><sub> Projeto Itau PJ - Team Leader</sub></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  