<div class="row mb-4">
  <div class="col-md-2"> <label>Pessoas</label></div>
  <div class="col-md-8">
    <div class="input-group ">
      <input type="text" class="form-control" placeholder="Pesquise aqui o colaborador">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <span class="fa fa-search"></span></button>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <button type="submit" class="btn salvar">
      + Nova Pessoa
    </button>
  </div>
</div>
<hr>
<div class="row">

  <div class="col-md-3">
    <div class="card">
      <div class="row">
        <div class="card-body">
          <div class="col-md-12 m-0 p-0">
            <div class="col-md-12 text-right">
              <span class="badge salvar text-right">Disponível</span>
            </div>
            <div class="row">
              <div class="col-md-3">
                <img class="card-img-top" src="../assets/u87.png" alt="Card image cap">
              </div>
              <div class="col-md-8 m-0 p-0">
                Ricardo Yamamura
                <small>Desenvolvedor</small>
              </div>


            </div>

            <div class="col-md-12 text-right"><sub>Projeto Itau PJ - Team Leader</sub></div>


          </div>
        </div>

      </div>

    </div>
  </div>
