
<div class="col-md-4 m-auto text-center ">
  <img src="../assets/logo_empresa.png" width="140">
  
</div>
<div class="col-md-4 mx-auto text-center">
  <div class="card card-colaborador ">
      <div class="card-body ">
        <img src="../assets/logo_90.png">
      <div class="form-group mt-2">
        <input type="text" class="form-control mb-2" name="user" id="usuario" placeholder="Usuário">
        <input type="password" class="form-control mb-2" name="senha" id="senha" placeholder="Senha">
        
      </div>
      <nav class="col  justify-content-center">
          <button type="button" class="btn everis mr-2 ">Salvar</button>
          <button type="button" class="btn cancelar">Cancelar</button>
        </nav> 
      <!--.input-->
      </div>
      <div class="row mb-4">
      <div class="col-md-6 "><a href="#" class="links">Esqueci a Senha</a></div>
      <div class="col-md-6 "><a href="" class="links">Primeiro Acesso</a></div>
      </div>
    </div>
  </div>  

