<form [formGroup]="loginGroup">
  <div class="col-md-12 mt-5 text-center">
    <img src="../assets/logo_empresa.png" width="140">
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-4 text-center">
      <div class="card card-colaborador ">
        <div class="card-body ">
          <img src="../assets/logo_90.png">
          <div class="form-group mt-2">
            <input formControlName="user" type="text" class="form-control mb-2" name="user" id="usuario" placeholder="Usuário">
            <input formControlName="senha" type="password" class="form-control mb-2" name="senha" id="senha"
              (keydown.enter)="login()" placeholder="Senha">

          </div>
          <div class="col  justify-content-center">
            <!-- <input type="submit" class="btn everis mr-2 " value="Salvar"/> -->
            <button type="button" (click)="login()" class="btn everis mr-2">Acessar</button>
            <br>
            <div *ngIf="msgErro != null && msgErro != undefined" class="mt-2">
              <div class="alert alert-danger" role="alert">
                <i class="fa fa-times mr-2"> </i> {{msgErro}}
              </div>
            </div>
            <!-- <button type="button" class="btn cancelar">Cancelar</button> -->
          </div>
          <!--.input-->
        </div>
        <div class="row mb-4">
          <div class="col-md-6 "><a href="/esqueci-senha" class="links">Esqueci a Senha</a></div>
          <div class="col-md-6 "><a href="/primeiro-acesso " class="links ">Primeiro Acesso</a></div>
        </div>
      </div>
    </div>

  </div>
</form>