<div class="row">
  <div class="col-md-10">Nova Pessoa</div> 
  <div class="col-md-1"><button name="botao-salvar" class="btn everis">Salvar</button></div>
  <div class="col-md-1"><button name="botao-cancelar" class="btn botao-cancelar">Cancelar</button></div>
  <hr>
</div>

    <div>
      <p><input type="radio" id="tipoPessoa" name="tipoPessoa" value="Terceiros">Terceiros
         <input type="radio" id="tipoPessoa" name="tipoPessoa" value="Colaborador">Colaborador</p>
    </div>

    <div class="card">
      <div class="card-body">

        <div class="row mb-2">
            <div class="col-md-12">
              <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
            </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-2">
            <select class="form-control" id="tipoTelefone" name="tipoTelefone">
                <option value="residencial">Residencial</option>
                <option value="particular">Particular</option>
                <option value="empresarial">Empresarial</option>
            </select>
          </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone">
            </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-12">
              <input type="text" class="form-control" id="email" name="email" placeholder="E-mail">
          </div>
        </div>

          <div class="row mb-2">
              <div class="col-md-12">
                <input type="text" class="form-control" id="emailCorp" name="emailCorp" placeholder="E-mail Corporativo">
              </div>
            </div>

        <div class="row mb-2">
          <div class="col-md-4">
            <input type="text" class="form-control" id="funcional" name="funcional" placeholder="Funcional">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" id="racf" name="racf" placeholder="RACF">
          </div>
        </div>
          
        <div class="row mb-2">
          <div class="col-md-12">
              <input type="text" class="form-control" id="vdi" name="vdi" placeholder="Nome da Maquina VDI">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-2">
            <label for="nivelFuncional">Nivel Funcional</label>
              <select id="nivelFuncional" name="nivelFuncional" class="form-control">
                  <option value="sa">SA</option>
                  <option value="sn">SN</option>
                  <option value="stl">STL</option>
                  <option value="spl">SPL</option>
                  <option value="sk">SK</option>
                  <option value="skl">SKL</option>
                  <option value="manager">Manager</option>
              </select>
            </div>
            <div class="col-md-4">
                <label for="perfilAcesso">Perfil de Acesso</label>
                <p><input type="radio" name="perfilAcesso" value="Master" id="perfilAcesso">Master
                <input type="radio" name="perfilAcesso" value="Leader" id="perfilAcesso">Leader
                <input type="radio" name="perfilAcesso" value="Colaborador" id="perfilAcesso">Colaborador</p>
            </div>
          </div>

        <div class="row mb-2">
          <div class="col-md-7">
            <input type="file" id="arquivo" name="arquivo" class="custom-file-input" />
          </div>
        </div>

        <div class="row">
            <div class="col-md-10"></div> 
            <div class="col-md-1"><button name="botao-salvar" class="btn everis">Salvar</button></div>
            <div class="col-md-1"><button name="botao-cancelar" class="btn botao-cancelar">Cancelar</button></div>
        </div>

  </div>
</div>