<form [formGroup]="formularioFase">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="titulo">{{(modoEdicao() ? 'Editar' : 'Criar')}} Fase {{modeloFase.codigoFase}}</h1>
        </div>
    </div>
    <hr class="mt-0" />

    <div class="row">
        <div class="col-md-2">
            <label for="codigoProjeto">Código do Projeto</label>
            <input type="text" class="form-control" placeholder="Digite o código do projeto" value="{{projeto.codigoProjeto}}"
                disabled>
        </div>
        <div class="col-md-8">
            <label for="codigoProjeto">Nome do Projeto</label>
            <input type="text" class="form-control" placeholder="Nome Projeto" value="{{projeto.nome}}" disabled>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-12 mt-3">
            <label for="slColaborador">Nome do Colaborador<span>*</span></label>
            <select name="slColaborador" class="form-control" name="colaborador" formControlName="colaborador">
                <option *ngFor='let op of colaboradorLista' value="{{op.id}}">{{op.nome}}</option>
            </select>

            <div class="alert alert-danger m-0 mt-2 p-1 pl-2 pr-2 w-100" *ngIf="formularioFase.controls.colaborador.touched && (formularioFase.controls.colaborador.hasError('required') ||
                            formularioFase.controls.colaborador.value ==0)">
                <i class="fa fa-times mr-2"></i>
                <small>Por favor, informe o nome do colaborador.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <label for="codigoFase">Código da Fase<span>*</span></label>
            <input type="number" class="form-control" name="codigoFase" formControlName="codigoFase" placeholder="Digite o código da fase">
            <div class="alert alert-danger m-0 mt-2 p-1 pl-2 pr-2 w-100" *ngIf="formularioFase.controls.codigoFase.touched && formularioFase.controls.codigoFase.hasError('required')">
                <i class="fa fa-times mr-2"></i>
                <small>Por favor, informe o código da fase.</small>
            </div>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <label for="slTipoFase">Tipo da Fase<span>*</span></label>
            <select name="slTipoFase" class="form-control" name="tipoFase" formControlName="tipoFase">
                <option *ngFor='let op of tipoFaseLista' value="{{op.id}}">{{op.nome}}</option>
            </select>
            <div class="alert alert-danger m-0 mt-2 p-1 pl-2 pr-2 w-100" *ngIf="formularioFase.controls.tipoFase.touched && (formularioFase.controls.tipoFase.hasError('required') ||
                        formularioFase.controls.tipoFase.value ==0)">
                <i class="fa fa-times mr-2"></i>
                <small>Por favor, informe o tipo da fase.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <label for="qtdHorasDia">Horas por Dia<span>*</span></label>
            <input appLimitTo maxLength="24" min="1" type="number" class="form-control" name="qtdHorasDia"
                formControlName="qtdHorasDia" placeholder="Digite as horas por dia">

            <div class="alert alert-danger m-0 mt-2 p-1 pl-2 pr-2 w-100" *ngIf="formularioFase.controls.qtdHorasDia.invalid && (formularioFase.controls.qtdHorasDia.touched || formularioFase.controls.qtdHorasDia.dirty)">
                <small *ngIf="formularioFase.controls.qtdHorasDia.invalid"><i class="fa fa-times mr-2"></i>Por
                    favor, informe a quantidade de horas por dia. Obs.: Máximo de 24 horas por dia.</small>

            </div>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <label for="dataInicio">Data Inicial<span>*</span></label>
            <input type="date" class="form-control" placeholder="dd/mm/aaaa" name="dataInicio" formControlName="dataInicio">
            <div class="alert alert-danger m-0 mt-2 p-1 pl-2 pr-2 w-100" *ngIf="formularioFase.controls.dataInicio.touched && formularioFase.controls.dataInicio.hasError('required')">
                <i class="fa fa-times mr-2"></i>
                <small>Por Favor, informe a data incial do periodo.</small>
            </div>
        </div>
        <div class="col-xs-12 col-12 col-md-4 form-group">
            <label for="dataFim">Data Final<span>*</span></label>
            <input type="date" class="form-control" placeholder="dd/mm/aaaa" name="dataFim" formControlName="dataFim">
            <div class="alert alert-danger m-0 mt-2 p-1 pl-2 pr-2 w-100" *ngIf="formularioFase.controls.dataFim.touched && formularioFase.controls.dataFim.hasError('required')">
                <i class="fa fa-times mr-2"></i>
                <small>Por Favor, informe a data final do periodo.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-12 col-md-12 form-group">
            <label for="observacao">Observações</label>
            <textarea class="col-12" rows="4" style="resize: none" class="form-control" name="observacao"
                formControlName="observacao" placeholder="Observações"></textarea>
        </div>


    </div>
</form>

<div class="row align-items-center">
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn everis mr-2" (click)="salvar()" [disabled]="!formularioEstaValido()">Salvar</button>
        <button type="button" class="btn cancelar" (click)="cancelar()">Cancelar</button>
    </div>
</div>