.btn-danger {
    background-color: rgb(215,103,52);
}

.colBtnDeletar {
    width: 60px;
}

.spanValid {
    
    color: green;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.spanInvalid {
    color: red;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.spanAtention {
    color: orange;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.scroll-fixo {
    overflow-y: scroll;
    height: 120px
}

