<form [formGroup]="formularioPessoa">
  <div class="card">
    <div class="card-body">
      <!-- Inicio Nome -->
      <div class="row mb-2">
        <div class="col-md-12">
          <input type="text" class="form-control" name="nome" formControlName="nome" placeholder="*Nome">
        </div>
      </div>
      <!-- Fim Nome -->

      <!-- Inicio CPF e  Documento-->
      <fieldset class="col-12 border pb-4">
        <legend class="col-form-legend col-4">
          <small>Documentos Pessoais</small>
        </legend>
        <div class="row mb-2">
          <div class="col-md-2">
            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="CPF" formControlName="cpf">
          </div>

          <div class="col-md-5">
            <input type="text" class="form-control" id="docmento" name="documento" formControlName="documento" placeholder="Outro Documento">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-2">
            <input type="text" class="form-control" id="rg" name="rg" placeholder="RG" formControlName="rg">
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" id="orgaoEmissor" name="orgaoEmissor" placeholder="Orgão Emissor" formControlName="orgaoEmissor">
          </div>
          <div class="col-md-2">
            <select class="form-control" id="uf" name="uf" formControlName="uf">
              <option value="0" disabled="true" selected="true">Selecione uma UF</option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AP">AP</option>
              <option value="AM">AM</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MT</option>
              <option value="MS">MS</option>
              <option value="MG">MG</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PR">PR</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RS">RS</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="SC">SC</option>
              <option value="SP">SP</option>
              <option value="SE">SE</option>
              <option value="TO">TO</option>
            </select>
          </div>
        </div>
      </fieldset>
      <!-- Fim CPF e Documento -->
      <!-- Inicio Telefone -->
      <fieldset class="col-12 border pb-4">
        <legend class="col-form-legend col-4">
          <small>Contato</small>
        </legend>
        <div class="row mb-2">
          <div class="col-md-2">
            <select class="form-control" id="tipoTelefone" name="tipoTelefone" formControlName="tipoTelefone">
              <option *ngFor="let i of tiposTelefone" value="{{i.id}}-{{i.descricao}}">{{i.descricao}}</option>
            </select>
          </div>
          <div class="input-group col-md-4">
            <input input type="text" (keydown.enter)="AddTelefone()" class="form-control" formControlName="numeroTelefone" id="telefone"
              name="numeroTelefone" placeholder="*Telefone" autocomplete="off" [required]="isTelRequired()">

            <div class="input-group-append">
              <button (click)="AddTelefone()" class="btn btn-outline-secondary" type="button" [disabled]="formularioPessoa.controls['numeroTelefone'] == undefined || formularioPessoa.controls['tipoTelefone'] == undefined || formularioPessoa.controls['numeroTelefone'].invalid">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="formularioPessoa.controls['numeroTelefone'].valid && (formularioPessoa.controls['numeroTelefone'].dirty || formularioPessoa.controls['numeroTelefone'].touched) && formularioPessoa.controls['tipoTelefone'] != undefined">
          <i class="fa fa-check mr-1"></i> OK
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="formularioPessoa.controls['numeroTelefone'].invalid && (formularioPessoa.controls['numeroTelefone'].dirty ||
        formularioPessoa.controls['numeroTelefone'].touched)">
          <i class="fa fa-times mr-2"> </i> É necessário cadastrar ao menos um telefone. Informe apenas numeros
        </div>

        <div class="row col-md-5">
          <table class="table table-striped">
            <tbody>
              <tr *ngFor="let telefone of telefones">
                <td class="text-center">
                  <p>{{telefone.tipoTelefone.descricao}}</p>
                </td>
                <td class="text-center">
                  <p>{{telefone.numeroTelefone}}</p>
                </td>
                <td class="colBtnDeletar">
                  <button (click)="RemoverTelefone(telefone)" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
      <!-- Fim Telefone -->
    </div>
  </div>
</form>