
<div class="col-md-4 m-auto text-center">
    <img src="../assets/logo_empresa.png" width="140">
    
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-md-4 text-center">
      <div class="card card-colaborador center">
          <div class="card-body ">
            <img src="../assets/logo_90.png">
          <div class="form-group mt-2">
            <input type="text" class="form-control mb-2" name="email" id="email" placeholder="Email">
            <input type="text" class="form-control mb-2" name="senha" id="rg" placeholder="Senha">
            <input type="text" class="form-control mb-2" name="novaSenha" id="rg" placeholder="Nova Senha">
            <input type="text" class="form-control mb-2" name="confirmarSenha" id="rg" placeholder="Confirmar Senha">

            
            <nav class="col  justify-content-center">
                <button type="button" class="btn everis mr-2 ">Acessar</button>
                <button type="button" class="btn cancelar">Cancelar</button>
              </nav> 
          <!--.input-->
          </div> 
      
          <div class="col-md-12 mb-4 text-center"><a href="/login " class="links">Voltar a Tela de Login</a></div>
            </div>
          </div>  
    
  
  
  </div>
  
  
  