<div class="row mt-4">
  <div class="col-12">
    <div class="form-group">
      <label>Nome do Projeto:</label>
      <input type="text" value="{{nomeProjeto}}" class="form-control" id="input" placeholder="Nome Projeto" disabled>
    </div>
  </div>
</div>

<div class="row" *ngIf="projetoSquad.id != undefined && projetoSquad.id != null && projetoSquad.id > 0">
  <div class="col-12">
    <div class="form-group">
      <label>Squad:</label>
      <input type="text" value="{{projetoSquad.squad.nome}}" class="form-control" id="nomeSquad" disabled>
    </div>
  </div>
</div>

<div *ngIf="id == undefined || id == null || id == 0">
  <div class="row">
    <div class="col mb-2 mt-2">
      <div class="custom-control custom-checkbox custom-control-inline">
        <input id="ckScf" name="scf" [(ngModel)]="squad" type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="ckScf">Atribuir um Squad ao projeto?</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mb-3" *ngIf="squad == true">
      <label for=" label">*Squad</label>
      <select [(ngModel)]="squadId" class="form-control" id="squadId" name="squadId">
        <option [ngValue]="null" disabled>Selecione</option>
        <option *ngFor="let squad of squads" value="{{squad.id}}">{{squad.nome}}</option>
      </select>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="input-group col-lg-6 col-md-12 ml-0 mt-3">
    <input type="text" class="form-control ml-0 no-shadow" [(ngModel)]="filtroPessoa.nome" placeholder="Digite o que você deseja buscar"
      maxlength="100" aria-label="Digite o que você deseja buscar">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-6 col-md-12">
    <fieldset class="border pb-4">
      <legend class="col-form-legend">Tipo de pessoa</legend>
      <div class="custom-control custom-radio custom-control-inline ml-4">
        <input id="meuradio1" name="meuradio" type="radio" class="custom-control-input" checked>
        <label class="custom-control-label" for="meuradio1">Todos</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="meuradio2" name="meuradio" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="meuradio2">Interno</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="meuradio3" name="meuradio" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="meuradio3">Externo</label>
      </div>
    </fieldset>
  </div>
  <div class="col-lg-6 col-md-12">
    <fieldset class="border pb-4">
      <legend class="col-form-legend">Disponibilidade</legend>
      <div class="custom-control custom-radio custom-control-inline ml-4">
        <input id="meuradio4" name="Disponibilidade" type="radio" class="custom-control-input" checked>
        <label class="custom-control-label" for="meuradio4">Todos</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="meuradio5" name="Disponibilidade" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="meuradio5">Disponível</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="meuradio6" name="Disponibilidade" type="radio" class="custom-control-input">
        <label class="custom-control-label" for="meuradio6">Em Projeto</label>
      </div>
    </fieldset>
  </div>
</div> -->
<div class="row">
  <div class="col">
    <table class="mt-4 table table-striped border">
      <thead>
        <tr>
          <th colspan="2">Nome</th>
          <!-- <th>Empresa</th> -->
          <!-- <th class="text-center">Ações</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td class="align-middle">{{ pessoa.nome }}</td>
          <!-- <td class="align-middle">{{buscaEmpresa(pessoa.empresaId)}}</td> -->
          <td class="text-center">
            <button *ngIf="!pessoa.adicionado" class="btn everis" (click)="Adicionar(pessoa)">Adicionar</button>
            <button *ngIf="pessoa.adicionado" class="btn everis-azul btn-disabled">Adicionado</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <table class="mt-4 table table-striped border">
      <thead>
        <tr>
          <th class="text-center" scope="col">Nome</th>
          <th class="text-center" scope="col">Função</th>
          <th class="text-center" scope="col">Responsável</th>
          <th class="text-center" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr (change)="getAtribuicao(pp)" *ngFor="let pp of projetoPessoa">
          <td class="align-middle">{{ pp.pessoa.nome }}</td>
          <td>
            <select (change)="popAtribuicao($event.target.value, pp.pessoa.id)" class="form-control" id="atribuicaoId"
              name="atribuicaoId" required>
              <option *ngFor="let atribuicao of atribuicoes" value="{{atribuicao.id}}" [ngValue]="atribuicao"
                [selected]="atribuicao.id == pp.atribuicao?.id">{{atribuicao.atribuicao}}</option>
            </select>
          </td>
          <td class="align-middle">
            <div class="custom-control custom-checkbox text-center">
              <input (change)="popResponsavel($event.target.checked)" [id]="pp.pessoaId" [name]="pp.pessoaId"
                [(ngModel)]="pp.responsavel" type="checkbox" class="custom-control-input">
              <label class="custom-control-label" [for]="pp.pessoaId"></label>
            </div>
          </td>
          <td class="text-center align-middle">
            <button (click)="RemoverPessoa(pp)" class="btn everis-laranja text-white far fa-trash-alt" type="button"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row align-items-center mt-2 mb-4">
  <div class="col d-flex justify-content-end">
    <button type="button" class="btn everis mr-2" (click)="salvar()">Salvar</button>
    <button type="button" class="btn cancelar" (click)="cancelar()">Cancelar</button>
  </div>
</div>