<div class="row">
  <div *ngIf="msgSucesso != null && msgSucesso != undefined" class="col-12">
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check mr-1"></i> {{msgSucesso}}
    </div>
  </div>
</div>
<div class="row align-items-center no-gutters">
  <div class="col-md-12 col-lg-6 col-xl-4">
    <h1 class="titulo pl-0 mb-0">Empresas</h1>
  </div>
  <div class="input-group col-md-12 col-lg-6 col-xl-5 mb-2">
    <input type="text" class="form-control no-shadow" placeholder="Digite o que você deseja buscar" aria-label="Digite o que você deseja buscar"
      [(ngModel)]="filtroEmpresa.nome" (keydown.enter)="(filtrar())">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-3 d-flex justify-content-end mb-2">
    <button type="button" class="btn everis mr-2" [routerLink]="['cadastro-empresa']">Nova Empresa+</button>
  </div>
  <hr class="mt-0" />
</div>
<table class="mt-4 table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Segmento</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">
      <td class="align-middle">{{ empresa.nome }}</td>
      <td class="align-middle">{{tipoSegmentoType[empresa.segmento]}}</td>
      <td class="text-center">
        <button class="btn everis" (click)="editar(empresa.id)"><i class="fas fa-pencil-alt"></i></button>
        <button class="btn everis-laranja text-white ml-1" (click)="desativar(empresa.id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>