<div class="row">
  <div *ngIf="msgSucesso != null && msgSucesso != undefined">
    <div class="alert alert-success" role="alert">
      <i class="fa fa-check mr-1"></i> {{msgSucesso}}
    </div>
  </div>
</div>
<div class="row align-items-center">
  <div class="col-3">
    <h1 class="titulo mb-0">Empresas</h1>
  </div>
  <div class="input-group col">
    <input type="text" class="form-control" placeholder="Digite o que você deseja buscar" aria-label="Digite o que você deseja buscar"
      [(ngModel)]="filtroEmpresa.nome">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <nav class="col-3 d-flex justify-content-end">
    <button type="button" class="btn everis mr-2" [routerLink]="['cadastro-empresa']">Nova Empresa+</button>

  </nav>
  <table class="mt-3 table">
    <colgroup>
      <col width="50%">
      <col width="50%">
    </colgroup>
    <tr>
      <th>Nome</th>
      <th>Segmento</th>
    </tr>
    <tr *ngFor="let empresa of empresas" (click)="editar(empresa.id)">
      <td>{{ empresa.nome }}</td>
      <td>{{tipoSegmentoType[empresa.segmento]}}</td>
    </tr>
  </table>

</div>