<!-- 

<form #form="ngForm" novalidate>
  <div class="form-group mt-4">
    <div class="col-md-12">
      <input id="ProjetoId"  [(ngModel)]="anexo.idProjeto" hidden [ngModelOptions]="{standalone: true}"/>
      <input value="{{nomeProjeto}}" type="text" class="form-control" id="nomeprojeto" name="nomeprojeto"  placeholder="Nome do Projeto" disabled />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12"><label>Descrição</label></div>
    <div class="col-md-12">
      <textarea class="form-control" id="descricao" name="descricao" [(ngModel)]="anexo.descricao"[ngModelOptions]="{standalone: true}" placeholder="Descrição"></textarea>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-4">
      <div class="col-md-12">
        <select class="form-control" id="tipo" name="tipo" [(ngModel)]="anexo.tipo" [ngModelOptions]="{standalone: true}">
          
          <option value="0">Abertura</option>
          <option value="1">Fechamento</option>
          <option value="2">Evidencia</option>
        </select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="fileUpload" name="fileUpload" [(ngModel)]="anexo.path" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="col-md-6">
          <input type="file" id="arquivo" name="arquivo" class="everis" />
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="button" class="btn everis mr-2" (click)="Adicionar()">Adicionar</button>
  </div>
</form>
<div class="row">
  <div class="col-md-12">
    <table class="table mt-4">
      <thead>
        <tr>
          <th class="text-center" scope="col">Tipo</th>
          <th class="text-center" scope="col">Nome Arquivo</th>
          <th class="text-center" scope="col">Editar</th>
          <th class="text-center" scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td class="text-center">
            <button class="btn btn-outline-secondary far fa-edit" type="button"></button>
          </td>
          <td class="text-center">
            <button class="btn btn-outline-secondary far fa-trash-alt" type="button"></button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div> -->
