<div class="container-fluid" style="margin: 15px">
  <div class="row align-items-center">
    <div class="col">
      <h1 class="titulo">Nova Change</h1>
    </div>
    <nav class="col d-flex justify-content-end">
      <button type="button" class="btn everis mr-2">Salvar</button>
      <button type="button" class="btn cancelar">Cancelar</button>
    </nav>
  </div>
</div>
<hr class="mt-3">
<div class="border">
  <div class="container-fluid">
    <div class="row" style="margin-top: 15px">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" id="input" placeholder="Nome Projeto">
        </div>
        <div class="row align-items-center">
          <div class="col-4">
            <label for="label">Horas de impacto</label>
            <div class="row align-items-center">
              <div class="input-group col">
                <input type="text" class="form-control" placeholder="--:--" aria-label="Digite o que você deseja buscar">
                <div class="input-group-append">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nova-change_text_area">Descrição</label>
          <textarea class="form-control mb-4" id="nova-change_text_area" rows="3"></textarea>
          <label for="nova-change_enviar_arquivo">Enviar Arquivo</label>
          <input type="file" class="form-control-file" id="nova-change_enviar_arquivo">
        </div>
      </div>
    </div>
    <div class="row align-items-center mb-4">
      <nav class="col d-flex justify-content-end">
        <button type="button" class="btn everis mr-2">Salvar</button>
        <button type="button" class="btn cancelar">Cancelar</button>
      </nav>
    </div>
  </div>
</div>
