<div class="row align-items-center no-gutters" class="mt-3" >
  <div class="col d-flex justify-content-start">
    <b>Atribuição de membros da squad</b>
  </div>
</div>
<hr class="mt-0 mb-0" />
<div class="row">
  <div class="input-group col-md-12 ml-0 mt-3">
    <input type="text" class="form-control ml-0 no-shadow" [(ngModel)]="filtroPessoa.nome" placeholder="Digite o que você deseja buscar"
      aria-label="Digite o que você deseja buscar">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="mt-4 table table-striped border">
      <thead>
        <tr>
          <th colspan="2">Pessoas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td class="align-middle">{{ pessoa.nome }}</td>
          <td class="text-center">
            <button *ngIf="!pessoa.adicionado" class="btn everis" (click)="Adicionar(pessoa)">Adicionar</button>
            <button *ngIf="pessoa.adicionado" class="btn everis-azul btn-disabled">Adicionado</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="mt-4 table table-striped border">
      <thead>
        <tr>
          <th colspan="2">Pessoas Atribuídas</th>
        </tr>
      </thead>
      <tbody>
        <tr (change)="getAtribuicao(pp)" *ngFor="let pp of squadPessoa">
          <td class="align-middle">{{ pp.pessoa.nome }}</td>

          <td class="text-center align-middle">
            <button (click)="RemoverPessoa(pp)" class="btn everis-laranja text-white far fa-trash-alt" type="button"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>