
<div class="col-md-12 mt-5 text-center">
  <img src="../assets/logo_empresa.png" width="140">
  s</div>
<div class="d-flex justify-content-center align-items-center">
  <div class="col-md-4 text-center">
    <div class="card card-colaborador ">
        <div class="card-body ">
          <img src="../assets/logo_90.png">
        <div class="form-group mt-2">
          <input type="text" class="form-control mb-2" name="email" id="email" placeholder="Email" required>
          <input type="text" class="form-control mb-2" name="rg" id="rg" placeholder="Rg" required>
          
        </div>
        <nav class="col  justify-content-center"> 
            <button type="button" class="btn everis mr-2 ">Recuperar Senha</button>
        </nav> 
        <!--.input-->
        </div> 
    
        <div class="col-md-12 mb-4 text-center"><a href="/login " class="links">Voltar a Tela de Login</a></div>
          </div>
        </div>  
  


</div>


