
<div class="row align-items-center no-gutters">
  <div class="col-lg-3">
    <h1 class="titulo pl-0 mb-0">Comunidades</h1>
  </div>
  <div class="input-group col-lg-5 mb-2">
    <input type="text" class="form-control no-shadow" placeholder="Digite o que você deseja buscar" aria-label="Digite o que você deseja buscar" [(ngModel)]="filtroComunidade.nome" (keydown.enter)="filtrar()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col d-flex justify-content-end mb-2">
    <button type="button" class="btn everis mr-2" (click)="exportar()">Exportar</button>
    <button type="button" class="btn everis" [routerLink]="['/comunidades/incluir-comunidade']">Nova Comunidade+</button>
  </div>
  <hr class="mt-0" />
</div>
<table class="mt-4 table table-striped">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>GE Comunidade</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comunidade of comunidades">
      <td class="align-middle">{{ comunidade.nome }}</td>
      <td class="align-middle"></td>
      <td class="text-center">
        <button class="btn everis" (click)="editar(comunidade.id)"><i class="fas fa-pencil-alt"></i></button>
        <button class="btn everis-laranja text-white ml-1" (click)="desativar(comunidade.id)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>