<div class="row align-items-center no-gutters">
  <div class="col-3">
    <h1 class="titulo mb-0">Fases ({{projeto.codigoProjeto}})</h1>
  </div>
  <div class="input-group col">
    <input type="text" class="form-control no-shadow" placeholder="Digite o código da fase que você deseja buscar"
      aria-label="Digite o Código da Fase que você deseja buscar" [(ngModel)]="filtroFases.codigoFase" (keyup.enter)="filtrar()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="filtrar()"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col-3 d-flex justify-content-end">
    <button type="button" class="btn everis mr-2" (click)="vaiParaNovaFase()">Nova Fase+</button>
  </div>
  <hr class="mt-2" />

  <!-- {{fases | json}} -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código da Fase</th>
        <th>Colaborador</th>
        <th>Qtd. Horas</th>
        <th>Data Inicio</th>
        <th>Data Fim</th>
        <th>Tipo da Fase</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of fases">
        <td class="align-middle">{{ item.codigoFase }}</td>
        <td class="align-middle">{{ item.pessoa.nome }}</td>
        <td class="align-middle">{{ item.qtdHorasDia }}</td>
        <td class="align-middle">{{ item.dataInicio | date:'dd/MM/yyyy' }}</td>
        <td class="align-middle">{{ item.dataFim | date:'dd/MM/yyyy' }}</td>
        <td class="align-middle">{{ item.tipoFase.nome }}</td>
        <td class="text-center align-middle">
          <button class="btn everis" (click)="editar(item.id)"><i class="fas fa-pencil-alt"></i></button>
          <button class="btn everis-laranja text-white ml-1" (click)="desativar(item.id)"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row align-items-center no-gutters">
  <hr class="mb-2" />
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn cancelar" (click)="voltaParaEdicaoProjeto()">Voltar</button>
  </div>
</div>